.bannerText {
    font-family: 'CalifornianFB';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: hsl(40, 82%, 76%);
    z-index: 30;
}

.bannerButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 8px;
    padding: 3px 15px;
    border-color: #F4D28F ;
    border-radius: 3px;
    border-width: 1.5px;
}

.bannerButton:hover {
    background-color: #F4D28F;
    border-radius: 6px;
    color: whitesmoke;
}

.buttonField {
    width: 40%;
    padding: 10px;
    margin-top: 30px;
    max-width: 300px;
    border-radius: 5px;
    background-color: black;
    font-size: 13px;
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border-width: 1px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    transition: all 0.5s ease;
    overflow: hidden;
}

.buttonField:hover {
    box-shadow: inset 0 0 0 50px white;
    color: black;
    border-color: black;
    border-width: 1px;
}

@media screen and (min-width: 768px) {
    /* Large screens */
    .bannerButton {
        font-size: 12px;
        border-width: 1.5px;
        padding: 4px 20px; /* Increase padding for large screens */
    }
}

@media screen and (min-width: 1024px) {
    /* Extra-large screens */
    .bannerButton {
        font-size: 16px;
        border-width: 2px;
        padding: 5px 25px; /* Increase padding for extra-large screens */
    }
}