.itemcontainer {
    color: whitesmoke;
}

.itemcontainer:hover{
    color: #F4D28F;
    text-decoration: underline;
    text-decoration-color: #F4D28F;
}

.menucontainer {
    font-family: "CalifornianFB";
    color: whitesmoke;
    background-color: #120F0F;
    height: 65px;
    font-size: large;
    font-weight: bold;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerleft {
    position: absolute;
    left: 13px;
    text-align: left;
}

.containercenter {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerright {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 13px;
    text-align: right;
}